<div class="row">
    <div class="col-xs-12">
      <p><a [routerLink]="['/login']">Logout</a></p>
      <ul class="nav nav-pills">
        <li routerLinkActive="active"> <a [routerLink]="['./create_new_company']" >Create new company</a></li>
        <li routerLinkActive="active"> <a [routerLink]="['./remove_company']" >Remove company</a></li>
        <li routerLinkActive="active"> <a [routerLink]="['./update_company']" >Update company</a></li>
        <li routerLinkActive="active"> <a [routerLink]="['./get_company_by_id']" >Get company by id</a></li>
        <li routerLinkActive="active"> <a [routerLink]="['./get_all_comapnies']" >Get all companies</a></li>
        <li routerLinkActive="active"> <a [routerLink]="['./create_new_customer']" >Create new customer</a></li>
        <li routerLinkActive="active"> <a [routerLink]="['./remove_customer']" >Remove customer</a></li>
        <li routerLinkActive="active"> <a [routerLink]="['./update_customer']" >Update customer</a></li>
        <li routerLinkActive="active"> <a [routerLink]="['./get_customer_by_id']" >Get customer by id</a></li>
        <li routerLinkActive="active"> <a [routerLink]="['./get_all_customers']" >Get all customers</a></li>
        <li routerLinkActive="active"> <a [routerLink]="['./get_all_coupons']" >Get all coupons</a></li>
      </ul>
    </div>
  </div>
  
  <router-outlet></router-outlet> 