<div class="row">
  <div class="col-xs-12">
    <p><a [routerLink]="['/login']">Logout</a></p>
    <ul class="nav nav-pills">
     <li routerLinkActive="active"> <a [routerLink]="['./get_coupon_by_id']" >Show coupon details</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['./get_all_coupons']" >Show all coupons</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['./create_new_coupon']" >Create new coupon</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/currency']" >Currency Rates</a></li>  
    </ul>
  </div>
</div>

<router-outlet></router-outlet>