<h3><i>New Company:</i></h3>
<form [formGroup]="companyForm" (ngSubmit)="onSubmit(companyForm)">
  <div class="form-group">
    <label class="center-block">Company name:
      <input class="form-control" formControlName="compName">
    </label>
    <label class="center-block">Company email:
      <input class="form-control" formControlName="email">
    </label>
    <label class="center-block">Company password:
      <input class="form-control" formControlName="password">
    </label>
    <input type="submit" class="btn btn-degault"  [disabled]="companyForm.invalid" value="Submit">
  </div>
</form>