<div class="row">
  <div class="col-xs-12">
    <p><a [routerLink]="['/login']">Logout</a></p>
    <ul class="nav nav-pills">
     <li routerLinkActive="active"> <a [routerLink]="['./purchase_coupon']" >Buy new Coupon</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['./all_purchesed_coupons']" >Show all purchesed coupons</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['./all_purchased_coupons_by_type']" >Show all purchesed coupons by type</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['./all_purchased_coupons_by_price']" >Show all purchesed coupons by price</a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>